.about {}

.about__content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 2rem;

    color: var(--bs-light);
    background: rgba(var(--bs-dark-rgb), .5);

    text-align: center;
}

.about__title {
    font-size: 4rem;
}

.about__description {

}

.about__bg {

}