.events {
    padding: 6rem 0;
}



.event {
    position: relative;
    display: flex;

    border-radius: .5rem;
    overflow: hidden;

    transition: .25s ease;
}



.event__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--bs-dark);
}

.event__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.event__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 1rem;

    color: var(--bs-light);
    background-color: rgba(var(--bs-dark-rgb), .25);
}

.event__pre-title {
    width: 100%;
    font-weight: 300;
    margin-bottom: .25em;
}
.event__title {
    width: 100%;
    font-weight: 600;
    margin: 0;
}

.event__description {
    width: 100%;
    margin: 0;
}

.event__btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-weight: 600;
    text-decoration: none;

    transition: .25s ease;
}

.event__icon {
    width: 1em;
    height: 1em;
    transition: .125s ease;
    stroke-width: 3;
}



.event:hover,
.event:focus{
    box-shadow: 0 0 0 .5rem rgba(var(--bs-dark-rgb), .125);
}
.event:hover .event__btn,
.event:focus .event__btn{
    gap: 1.5rem;
}