.footer {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}

.footer__content > * {
    flex-grow: 1;
}

.footer__company {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}


.footer__copyright {
    padding: .5rem 0;
    opacity: .5;
}